/* 
  table td,th{
    padding: .5rem 1rem;
  }
  main{
    width: 70%;
    margin: 80px auto;
  }
  label {
    margin-bottom: 0;
  }

  .amount-success{
    color:green
  }

  .amount-danger{
    color:red
  }

  .row-success{
    border-left:5px solid green
  }

  .row-danger{
    border-left:5px solid red;
  }

  
  

  form{
    display: flex;
    flex-direction: column;
  }

  #transaction-type-container{
    display: flex;
    justify-content: space-around;
  }

  .transaction-type-option{
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .transaction-form-field {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .add-btn{
    align-self: flex-end;
  }

  h2 {
    border-bottom: 1px solid green;
  }

  ul{
    list-style: none;
  }
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .5rem 0;
  } */